*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", system-ui, sans-serif;
  scroll-behavior:smooth;
}

body{
  background:#0b0b0b;
  color:#e5e5e5;
}

/* NAV */
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 10%;
  border-bottom:1px solid #222;
}

.logo{
  font-size:20px;
  font-weight:600;
}

.nav-links a{
  margin-left:20px;
  color:#bdbdbd;
  text-decoration:none;
}

.nav-links a:hover{
  color:#fff;
}

/* BUTTONS */
.btn{
  padding:8px 16px;
  border-radius:6px;
  border:1px solid #f59e0b;
  color:#f59e0b;
}

.primary{
  background:#f59e0b;
  color:#000;
}

.secondary{
  border-color:#555;
  color:#fff;
}

/* HERO */
.hero{
  display:grid;
  grid-template-columns:1.2fr 1fr;
  gap:60px;
  padding:100px 10%;
}

.hero h1{
  font-size:48px;
  line-height:1.2;
}

.hero h1 span{
  color:#f59e0b;
}

.hero p{
  margin:20px 0;
  color:#bdbdbd;
}

.hero-actions a{
  margin-right:15px;
}

.stats{
  display:flex;
  gap:40px;
  margin-top:40px;
}

.stats h3{
  color:#f59e0b;
}

.hero-image img{
  width:100%;
  max-width:320px;
  border-radius:12px;
}

/* SECTIONS */
.section{
  padding:90px 10%;
}

.section h2{
  font-size:30px;
  margin-bottom:20px;
}

.section-text{
  max-width:700px;
  color:#bdbdbd;
}

.dark{
  background:#050505;
}

/* CARDS */
.card-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:25px;
}

.card{
  border:1px solid #222;
  padding:25px;
  border-radius:12px;
  transition:.3s;
}

.card:hover{
  border-color:#f59e0b;
  transform:translateY(-6px);
}

.card span{
  display:block;
  margin-top:10px;
  color:#f59e0b;
}

/* TIMELINE */
.timeline div{
  border-left:2px solid #f59e0b;
  padding-left:20px;
  margin-bottom:15px;
  color:#bdbdbd;
}

/* CONTACT */
.contact-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
}

.contact-info p{
  color:#bdbdbd;
  margin-bottom:14px;
}

.contact-form{
  display:flex;
  flex-direction:column;
}

.contact-form input,
.contact-form textarea{
  background:#0b0b0b;
  border:1px solid #222;
  padding:12px 14px;
  margin-bottom:14px;
  border-radius:6px;
  color:#fff;
}

.contact-form input:focus,
.contact-form textarea:focus{
  outline:none;
  border-color:#f59e0b;
}

.contact-form button{
  background:#f59e0b;
  color:#000;
  border:none;
  padding:12px;
  border-radius:6px;
  font-weight:600;
  cursor:pointer;
}

#form-status{
  margin-top:10px;
  font-size:14px;
  color:#f59e0b;
}

/* FOOTER */
footer{
  text-align:center;
  padding:25px;
  border-top:1px solid #222;
  color:#777;
}

/* REVEAL ANIMATION */
.reveal{
  opacity:0;
  transform:translateY(30px);
  transition:0.8s ease;
}

.reveal.show{
  opacity:1;
  transform:translateY(0);
}

/* RESPONSIVE */
@media(max-width:900px){
  .hero{
    grid-template-columns:1fr;
    text-align:center;
  }
  .contact-grid{
    grid-template-columns:1fr;
  }
}
